body{
  background-color: lightgray;
}
.card{
  margin: 50px 400px 50px 400px;
  padding: 8px ;
  background-color: white;
}
.title{
  background-color: lightskyblue;
  font-size: 16px;
  margin: 8px 8px 8px 8px;
  padding: 8px 8px;
}.content{
  background-color: lightskyblue;
  margin: 8px 8px 8px 8px;
  padding: 16px 8px 16px 8px;
}
.button-container{
  background-color: lightskyblue;
  margin: 8px 8px 8px 8px;
  padding: 8px;
  text-align: center;
}
.button-container button{
  padding: 8px 24px 8px 24px;
}
