*{
  margin: 0;
  padding: 0;
  height: 700px;
}
p  {
  padding-bottom: 50px;
  font-size: 36px;
  font-weight: 300;
  font-style: oblique;
  margin: 0;
  display: inline-block;
  height: auto;

}
.title{
  margin-top: 200px;
  font-family: 'Amatic SC', cursive ;
  font-weight: bold;
  font-size: 60px;
  color: #E55604;
}
body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  background-color: #26577C;

}
.main{
  display: flex;
  align-items: center;
  justify-content: center;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 200px;
}
.btns{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 600px;
  gap: 10px;
  padding: 10px;
  background-color: #B4B4B3;
  border-radius: 10px;
}
.sketch{
  display: flex;
  border: 2px solid black;
  width: 697px;
  height: 697px;
  flex-wrap: wrap;
  background-color: #EBE4D1;
}
.cell{
  display: flex;
  background-color: #EBE4D1;
  height: 348px;
  width: 348px;
}
.overr{
  background-color: red;
}.overb{
  background-color: blue;
}.overg{
  background-color: green;
}
/*.overr{*/
/*  background-color: red;*/
/*}*/
button{
  height: 60px;
  width: 120px;
  border: 0;
  border-radius: 5px;
  padding: 5px;
}
#ref{
  font-size: 16px;
}
#r{
  color: red;
  font-size: 16px;
}
#g{
  color: green;
  font-size: 16px;
}
#b{
  color: blue;
  font-size: 16px;
}
#r:hover
{
  color: wheat;
  background-color: red;
  font-size: 16px;
}#g:hover
 {
   color: wheat;
   background-color: green;
   font-size: 16px;
 }#b:hover
  {
    color: wheat;
    background-color: blue;
    font-size: 16px;
  }#ref:hover
  {
    color: wheat;
    background-color: black;
    font-size: 16px;
  }#rgb:hover
  {
    color: wheat;
    background-color: black;
    font-size: 16px;
  }
#rgb{
  font-size: 16px;
}
